# Entorno virtual
venv/
*.pyc
__pycache__/

# Archivos de configuración sensibles
auth_token.txt
host_config.txt

# Archivos y carpetas del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Configuraciones de IDE
.idea/
.vscode/

# Archivos de build o distribución
*.exe
*.dll
*.so
*.dylib
*.pyd

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo
*.orig
